
@model InventoryPartMastery.Models.Part
@{
    ViewBag.Title = "Part Details";
}
<h3>Part Details</h3>
<dl class="row">
    <dt class="col-sm-2">Part Number</dt><dd class="col-sm-10">@Model.PartNumber</dd>
    <dt class="col-sm-2">Part Name</dt><dd class="col-sm-10">@Model.PartName</dd>
    <dt class="col-sm-2">Location</dt><dd class="col-sm-10">@Model.PartLocation</dd>
    <dt class="col-sm-2">Bin</dt><dd class="col-sm-10">@Model.PartBin</dd>
    <dt class="col-sm-2">Stock</dt><dd class="col-sm-10">@Model.StockQuantity</dd>
</dl>
<a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
<a asp-action="Index" class="btn btn-secondary">Back</a>
